go 1.25.0

use (
	./modules/finance-service
	./modules/hr-service
	./modules/purchasing-service
	./modules/sales-service
	./services/api-gateway
	./services/audit-service
	./services/auth-service
	./services/company-service
	./services/rbac-service
	./modules/warehouse-service
	./modules/production-service
)
